@{
    ViewBag.Title = "GetUsers";
}
@Html.Partial("_Notification")
<h2>GetUsers</h2>
<div class="mt-2">
    <div class="list-group">
        @foreach (var user in Model)
        {
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@user.UserName</h5>
                    <small>@user.Email</small>
                    <div>
                        <a class="btn btn-success" href="/Manage/EditProfile/@user.Id">Edit</a>
                        <a class="btn btn-danger" href="/Manage/Delete/@user.Id">Delete</a>
                    </div>
                </div>
            </div>
        }

